body {
  font-family: fantasy, Arial, Helvetica, sans-serif;
  background-color: cadetblue;
  text-align: center;
  font-size: larger;
}

h1 {
  text-align: center;
  font-size: 65px;
}


img {
  width: 700px;
  height: auto;
}